html, body {
  margin: 0;
  position: relative;
  height: 100vh;
}

/* Styling for header */
header {
  background-color: #72a0ea;
  display: inline-block;
  height: 24.6vh;
  width: 100%;
  margin: 0px;
  position: static;
}

/* Styling for nav bar */
nav {
  float: right;
  width: 40%;
  height: 100%;
}

#nav_menu {
  margin: 0;
  height: 100%;
  padding-left: 0px;
  margin-top: 10.5vh;
}

nav a {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  height: 100%;
}

/* Underline text in button on hover */
nav a:hover {
  border-bottom: 2px solid white;
}

nav li {
  list-style-type: none;
  display: inline-block;
  padding: 10px;
  position: relative;
  text-align: center;
}

#about {
  z-index: 0;
}

#letters_of_recommendation {
  z-index: 1;
}

/* Dropdown for letters of recommendation */
#letters_dropdown {
  display: none;
  border: 2px solid #cecece;
  border-radius: 5px;
  width: 50%;
  height: auto;
  padding: 10px;
  background-color: #93b5ed;
  box-shadow: 10px 10px 5px #888888;
  position: absolute;
  margin-top: 5px;
}

/* Display letters of recommendation dropdown on active */
#letters_of_recommendation:hover #letters_dropdown {
  display: block;
}

/* Styling for main div of page (center/middle div) */
#main {
  position: relative;
  height: 50vh;
  width: 100%;
  background-color: white;
  color: #72a0ea;
  display: inline-block;
  /* top: 125px; */
}

/* Styling for main focus of the page */
#main_center {
  display: inline-block;
  margin: 0;
  width: 100%;
  height: 50vh;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#main_center h1 {
  font-size: 50px;
  margin: 0px;
  margin-top: 18vh;
}

#main_center h2 {
  font-size: 30px;
  margin: 0px;
}

/* Styling for contact button */
#contact_button {
  border-radius: 5px;
  font-size: 14px;
  height: 50px;
  width: 100px;
  text-align: center;
  display: block;
  position: relative;
  left: calc(50% - 50px);
  margin-top: 15px;
  font-family: 'Open Sans', sans-serif;
  background-color: #72a0ea;
  border-width: 0px;
  cursor: pointer;
  color: white;
  box-shadow: 0 3px #27496d;
}

/* Make shadow and button press on hover of contact button */
#contact_button:hover, #contact_button:active {
  box-shadow: 0 2px #27496d;
  transform: translateY(1px);
}

#footer {
  background-color: #999999;
  width: 100%;
  height: 25vh;
  display: inline-block;
  position: relative;
  /* top: 318px; */
}

#footer_center {
  display: block;
  position: relative;
  width: 30%;
  height: 100%;
  left: 35%;
  text-align: center;
}

/* Left arrow in footer */
.left {
  display: inline-block;
  background-image: url("black-arrow-left.png");
  width: 55px;
  height: 52px;
  margin-top: 10vh;
  position: absolute;
  left: 0;
}

/* Make left arrow in footer white on hover */
.left:hover {
  background-image: url("white-arrow-left.png");
  width: 55px;
  height: 52px;
}

/* Picture of me in footer */
.self_picture {
  max-height: 15vh;
  min-height: 13vh;
  max-width: 10vh;
  min-width: 8vh;
  display: inline-block;
  margin: 0 auto;
  border-radius: 20px;
  margin-top: 5vh;
}


/* Right arrow in footer */
.right {
  display: inline-block;
  background-image: url("black-arrow-right.png");
  width: 55px;
  height: 52px;
  position: absolute;
  right: 0;
  margin-top: 10vh;
}
/* Make right arrow in footer white on hover */
.right:hover {
  background-image: url("white-arrow-right.png");
  width: 55px;
  height: 52px;
}

/* Dropdown for right arrow */
.right-dropdown {
  display: none;
  border: 3px solid white;
  border-radius: 5px;
  width: 200px;
  height: 100px;
  margin-left: 70px;
  margin-top: -30px;
  box-shadow: 10px 10px 5px #888888;
  z-index: 1;
}

/* Display right dropdown on active */
/.right:active .right-dropdown {
  display: inline-block;
}

/* Dropdown for left arrow */
.left-dropdown {
  display: none;
  border: 3px solid white;
  border-radius: 5px;
  width: 200px;
  height: 100px;
  margin-left: -225px;
  margin-top: -30px;
  box-shadow: 10px 10px 5px #888888;
  z-index: 1;
}

/* Display left dropdown on active */
/.left:active .left-dropdown {
  display: block;
}

#footer i {
  line-height: 5px;
  margin-left: 30px;
  margin-top: 49px;
}

/* Make text grow */
.grow {
  transition: all .2s ease-in-out;
}

/* Make text grow on hover */
.grow:hover {
  transform: scale(1.2);
}

 /* The "shine" element */

.shine:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);

  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}

/* Hover state - trigger effect for shine*/

.shine:hover:after {
  opacity: 1;
  top: -30%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

/* Active state for shine*/

.shine:active:after {
  opacity: 0;
}

/* -------------------------------------------------------------------------- */

/* CSS for about page */

#main_about {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  color: #72a0ea;
  height: auto;
}

#main_about p, #main_about ul {
  color: #000000;
}

#main_about p, #main_about ul, #main_about h1 {
  margin-left: 5%;
}

#main_about img {
  display: inline-block;
  margin: 1%;
}

#images {
  text-align: center;
}

/* Styling for contact button */
#contact_button_about {
  border-radius: 5px;
  font-size: 14px;
  height: 50px;
  width: 100px;
  text-align: center;
  display: block;
  position: relative;
  left: calc(50% - 50px);
  margin-top: 15px;
  font-family: 'Open Sans', sans-serif;
  background-color: #72a0ea;
  border-width: 0px;
  cursor: pointer;
  color: white;
  box-shadow: 0 3px #27496d;
  margin-bottom: 5vh;
}

/* Make shadow and button press on hover of contact button */
#contact_button_about:hover, #contact_button_about:active {
  box-shadow: 0 2px #27496d;
  transform: translateY(1px);
}
