#about {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  height: auto;

  .grid-container {
    display: grid;
    grid-template-columns: fit-content(100%) fit-content(100%);
    grid-template-rows: fit-content(100%) fit-content(100%);
    justify-content: center;
    grid-column-gap: 1vw;
    grid-row-gap: 1vh;
    margin: 10vh 2vw;

    @include respond(tab-port) {
      grid-template-columns: fit-content(100%);
      grid-template-rows: fit-content(100%) fit-content(100%) fit-content(100%);
      justify-items: center;
    }

    .about-header {
      grid-column: span 2;
      height: 100%;

      @include respond(tab-port) {
        grid-column: span 1;
      }
    }

    .img-wrapper {
      display: block;
      position: relative;
      width: 100%;
      
      @include respond(tab-port-min) {
        min-width: 300px;
      }

      .img {
        position: relative;
        border-radius: 5px;
      }
    }
  
    #para-container {
      height: 100%;
      text-align: center;
      font-size: $fz-md;
      max-width: 550px;

      #para-1, #para-2, #para-3 {
        color: $light-blue;
      }
    }
  }
}