#hero {
  height: calc(100vh - #{$header-height});
  display: flex;
  align-items: center;
  justify-content: center;

  .grid-container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    justify-content: center;
    row-gap: 2vh;
  }

  #hero-hello {
    font-size: $hero-hello-font-size;
    color: $green;
    text-align: left;
  }

  #hero-greeting, #subtitle {
    font-size: $hero-greeting-font-size;
    color: $green;
    text-align: left;

    #hero-name {
      font-size: $hero-name-font-size;
      text-align: left;
      color: $blue;
    }
  }
}