#hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .grid-container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    justify-content: center;
    row-gap: 2vh;

    #hero-btn {
      justify-items: center;
    }
  }

  #hero-hello {
    font-size: clamp(20px, 5.5vw, 40px);
    color: $green;
    text-align: left;

    @include respond(tab-port) {
      text-align: center;
    }
  }

  #hero-greeting, #subtitle {
    font-size: clamp(20px, 5.5vw, 40px);
    color: $green;
    text-align: left;

    @include respond(tab-port) {
      text-align: center;
    }

    #hero-name {
      font-size: clamp(30px, 8.5vw, 60px);
      color: $blue;
    }
  }

  #hero-btn {
    @include respond(tab-port) {
      display: flex;
      justify-content: center;
    }
  }
}