#projects {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    height: auto;
  
    .grid-container {
      display: grid;
      justify-content: center;
      grid-column-gap: 1vw;
      grid-row-gap: 3vh;
      margin: 10vh 2vw;
  
      @include respond(tab-land) {
        grid-template-columns: 1;
      }

      .project-grid {
        display: grid;
        // grid-template-columns: fit-content(100%) fit-content(100%);
        grid-template-columns: repeat(12, fit-content(100%));

        .project-img {
          min-width: 700px;
          z-index: 1;
          grid-column: 6 / -1;
          grid-row: 1 / -1;

          @include respond(tab-land) {
            grid-column: 7 / -1;
            min-width: 550px;
          }

          @include respond(tab-port) {
            grid-column: 6 / -1;
            min-width: 400px;
            margin: 3vw;
          }

          @include respond(phone) {
            grid-column: 1 / -1;
            min-width: 250px;
          }

          @include respond(phone-xs) {
            grid-column: 1 / -1;
            min-width: 150px;
          }

          .img {
            @include respond(phone) {
              filter: grayscale(100%) contrast(1) brightness(80%);
            }
          }
        }
      }
  
      .projects-header {
        height: 100%;
        // grid-column: span 2;
      }

      .project-info-wrapper {
        text-align: right;
        max-width: 550px;
        display: grid;
        grid-column: 1 / 7;
        grid-row: 1 / -1;
        align-items: center;
        z-index: 2;

        @include respond(tab-land) {
          grid-column: 1 / 8;
        }

        @include respond(tab-port) {
          grid-column: 1 / 7;
        }

        @include respond(phone) {
          grid-column: 3 / 11;
          margin-top: 15vh;
        }

        .project-info {
          background-color: $light-grey;
          padding: 2vh;
          border-radius: 1%;

          @include respond(phone) {
            background-color: transparent;
          }
        }
        
        .project-title {
          font-size: $fz-xxl;
          color: $blue;

          @include respond(tab-port) {
            font-size: $fz-lg;
          }

          @include respond(phone) {
            font-size: $fz-sm;
          }
        }

        .project-desc {
          font-size: $fz-md;
          color: $green;

          @include respond(tab-port) {
            font-size: $fz-sm;
          }

          @include respond(phone) {
            font-size: $fz-xxs;
          }
        }
      }
    }
  }