// COLORS
$primary-color: #02aab0;
$secondary-color: #00cdac;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white: #e0e0e0;
$light-grey: #303030; // Header color
$dark-grey: #1f1f1f;
$green: #28bf68;
$blue: #19a0d1;
$dark-blue: #008aff;
$yellow: #e6d685;
$orange: #db8467;
$purple: #bb94d6;

// FONT SIZE
$fz-xxs: 12px;
$fz-xs: 13px;
$fz-sm: 14px;
$fz-md: 16px;
$fz-lg: 18px;
$fz-xl: 20px;
$fz-xxl: 22px;
$fz-heading: 32px;

// HEADER
$header-tab-font-size: 20px;
$header-height: 35px;

// HERO
$hero-hello-font-size: 3rem;
$hero-greeting-font-size: 2rem;
$hero-name-font-size: 3.5rem;