div {
    border-radius: 5px;
}

body {
  background-color: #e0e0e0;
}

#header {
    background-color: #4D8E73;
    margin-top: -20px;
    height: 70px;
    width: 99.1%;
    position: fixed;
    z-index: 1;
}

#footer {
    background-color: #4D8E73;
    font-family: Verdana;
    position: relative;
    margin: auto;
    height: 55px;
    clear: both;
    text-align: center;
}

#footer h2 {
    position: relative;
    padding: 12.5px;
}

.left {
    background-color: #A4C5FC;
    margin-top: 60px;
    position: relative;
    height: 620px;
    width: 11%;
    float: left;
}

.left img {
  display: block;
  margin: 0 auto;
}

.right {
    background-color: #A4C5FC;
    margin-top: 60px;
    position: relative;
    height: 620px;
    width: 88.36%;
    float: right;
    margin-bottom: 10px;
}

#email {
    margin-right: 15px;
    padding-top: 19px;
    font-family: Verdana;
    float: right;
    display: inline-block;
}

#name {
    font-family: Verdana;
    margin-left: 15px;
    padding-top: 19px;
    float: left;
    display: inline-block;
}

h2 {
    margin: 5px;
}

p {
    margin: 5px;
}

td {
    font-size: 13px;
}

/* a:hover {
    text-shadow: 1px 1px black;
}
*/
a:visited {
    color: purple;
}

a {
    text-decoration: none;
    color: black;
}

.progress-bar {
  background-color: #f2f2f2;
  height: 30px;
  padding: 5px;
  width: 1818px;
  margin: 5px ;
  border-radius: 5px;
  box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
}

.progress-bar span {
  display: block;
  height: 100%;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
  transition: width .4s ease-in-out;
}

.blue span {
  background-color: #34c2e3;
}

.orange span {
  background-color: #fecf23;
  background-image: linear-gradient(top, #fecf23, #fd9215);
}

.green span {
  background-color: #a5df41;
  background-image: linear-gradient(top, #a5df41, #4ca916);
}

.stripes span {
  background-size: 30px 30px;
  background-image: linear-gradient(135deg, rgba(255, 255, 255, .15) 25%, transparent 25%,
                    transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%,
                    transparent 75%, transparent);
  animation: animate-stripes 3s linear infinite;
}

@keyframes animate-stripes {
  0% {background-position: 0 0;} 100% {background-position: 60px 0;}
}

#collegeProgressBar {
  background-color: #A4C5FC;
  font-family: Verdana;
  position: relative;
  margin: auto;
  margin-bottom: 10px;
  height: 79px;
  clear: both;
  text-align: center;
}
